# Node modules
/node_modules

# Environment variables
.env

# Logs
*.log

# Build artifacts
/dist
/build

# OS specific files
.DS_Store

# Editor specific files
/.vscode
/.idea

# Coverage reports
/coverage
